<basis-datatable [url]="" [verticalButtons]="false" #datatable
    type="memory" [value]="horariosPorGrade" #dataTable>
    <p-column header="Hora início" field="horaInicio">
        <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
            <span>{{rowData[col.field] | date: 'H:mm':'GMT'}}</span>
        </ng-template>
    </p-column>
    <p-column header="Hora fim" field="horaFim">
        <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
            <span>{{rowData[col.field] | date: 'H:mm':'GMT'}}</span>
        </ng-template>
    </p-column>
    <p-column header="Nº horários" field="numeroDeHorarios"></p-column>
    <p-column header="Duração" field="duracao">
        <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
            <span>{{rowData[col.field] | duration}}</span>
        </ng-template>
    </p-column>
    <p-column header="Dia" field="dia">
        <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
            <span>{{rowData[col.field] === 'DOMINGO' ? 'Domingo' : rowData[col.field] === 'SEGUNDA_FEIRA' 
                ? 'Segunda-feira' : rowData[col.field] === 'TERCA_FEIRA' ? 'Terça-feira' :
                rowData[col.field] === 'QUARTA_FEIRA' ? 'Quarta-feira' : 
                rowData[col.field] === 'QUINTA_FEIRA' ? 'Quinta-feira' : 
                rowData[col.field] === 'SEXTA_FEIRA' ? 'Sexta-feira' :
                rowData[col.field] === 'SABADO' ? 'Sábado' : rowData[col.field]}}</span>
        </ng-template>
    </p-column>
    <p-column header="Tipo de marcação" field="tipoHorarioId"> </p-column>
    <p-column header="Situação" field="ativo">
        <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
            <span>{{rowData[col.field] === true ? 'Ativo' : 'Inativo'}}</span>
        </ng-template>
    </p-column>
    <p-column header="Exclusivo" field="exclusivo">
        <ng-template let-col="col" let-rowData="rowData" pTemplate="body">
            <span>{{rowData[col.field] === true ? 'Sim' : 'Não'}}</span>
        </ng-template>
    </p-column>
</basis-datatable>

<div class="p-col-12 p-grid p-d-flex">
    <div class="p-md-4 p-lg-2">
        <p-button icon="pi pi-check" (click)="mostrarFormModal()" label="Gerar disponibilidade"></p-button>
    </div>
</div>

<p-dialog header="Gerar disponibilidade de horários" [(visible)]="mostrarModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
        <div class="p-md-3 p-fluid">
            <span><b>Grade de Exame</b>: {{ gradeAtual.id }} </span>
        </div>
        <div class="p-md-3 p-fluid">
            <span><b>Unidade Executora</b>: {{ gradeAtual.unidadeExecutoraNome }} </span>
        </div>
        <div class="p-md-3 p-fluid">
            <span><b>Grupo</b>: {{ gradeAtual.grupoGradeNome }} </span>
        </div><br>

        <div class="p-md-3 p-fluid">
            <span><b>Gerar disponibilidade entre:</b></span>
        </div>

    <div class="p-col-12 p-grid" style="margin-bottom: 300px;">
        <div class="p-md-2">
            Data inicial
            <p-calendar inputId="dataInicial" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" 
            yearRange="2021:2030" [defaultDate]="" [(ngModel)]="dataInicial" >
            </p-calendar>
        </div> 

        <div class="p-md-2">
            Data final
            <p-calendar inputId="dataFinal"  dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true"
            yearRange="2021:2030" [defaultDate]="" [(ngModel)]="dataFinal">
            </p-calendar>
        </div> 

        <div class="p-md-3">
            <span>Ocupado<br><br></span>
            <p-radioButton name="ocupado" value="true" label="Sim" class="separator-radio" 
            [(ngModel)]="ocupado"></p-radioButton>
            <p-radioButton name="ocupado" value="false" label="Não" class="separator-radio" 
            [(ngModel)]="ocupado"></p-radioButton>
        </div>
    </div>
    
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="gerarDisponibilidade()" [disabled]="!validarFormulario()"
            label="Gerar"></p-button>
            <p-button icon="pi pi-times" (click)="mostrarModal=false" label="Fechar"></p-button>
        </ng-template>
</p-dialog>